Install Boto3

In [1]:
#install boto3
!pip install boto3

Defaulting to user installation because normal site-packages is not writeable
Collecting boto3
  Downloading boto3-1.28.10-py3-none-any.whl (135 kB)
     |████████████████████████████████| 135 kB 4.7 MB/s
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/lib/python3.9/site-packages (from boto3) (0.10.0)
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.1-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 9.6 MB/s
Collecting botocore<1.32.0,>=1.31.10
  Downloading botocore-1.31.10-py3-none-any.whl (11.0 MB)
     |████████████████████████████████| 11.0 MB 79.6 MB/s
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/lib/python3.9/site-packages (from botocore<1.32.0,>=1.31.10->boto3) (1.25.10)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in ./.local/lib/python3.9/site-packages (from botocore<1.32.0,>=1.31.10->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.10->boto3) (1.15.0)
Installing collected packages: botocore, s3transfer, boto3
Successfully installed boto3-1.28.10 botocore-1.31.10 s3transfer-0.6.1

Import Libraries

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import boto3

Load Non-event dataset

In [3]:
!aws s3 cp s3://capstone-mm/final_submission/non_events_init.csv .

download: s3://capstone-mm/final_submission/non_events_init.csv to ./non_events_init.csv

In [4]:
#read non_events dataset into pandas dataframe
dfnev = pd.read_csv('non_events_init.csv', encoding='utf-8')

In [5]:
dfnev.head(5)

             device_id phone_brand device_model gender  age group_train
0 -7548291590301750000      Huawei           3C      M   33        M32+
1  6943568600617760000      Xiaomi        xnote      M   37        M32+
2  5441349705980020000        OPPO          R7s      M   40        M32+
3 -5393876656119450000      Xiaomi         MI 4      M   33        M32+
4  4543988487649880000     samsung    Galaxy S4      M   53        M32+

Feature Engineering Non-event dataset
4.	You may also think of grouping the existing categories to create a new supercategory that will establish a significance in predicting the outcome variable

In [6]:
#function to calculage the age_group regardless of gender
def getAgeGroup(row):
    if (row['group_train'] == 'M0-24') or (row['group_train'] == 'F0-24') :
        return '0-24'
    elif (row['group_train'] == 'M25-32') or (row['group_train'] == 'F25-32') :
        return '25-32' 
    else:
        return '32+'

In [7]:
#create supercategory for age group
dfnev['age_group'] = dfnev.apply(getAgeGroup, axis=1)

In [8]:
dfnev.head(5)

,device_id,phone_brand,device_model,gender,age,group_train,age_group
0,-7548291590301750000,Huawei,3C,M,33,M32+,32+
1,6943568600617760000,Xiaomi,xnote,M,37,M32+,32+
2,5441349705980020000,OPPO,R7s,M,40,M32+,32+
3,-5393876656119450000,Xiaomi,MI 4,M,33,M32+,32+
4,4543988487649880000,samsung,Galaxy S4,M,53,M32+,32+

Load event Dataset

In [9]:
!aws s3 cp s3://capstone-mm/final_submission/events_init.csv .

download: s3://capstone-mm/final_submission/events_init.csv to ./events_init.csv

In [10]:
#read events dataset into pandas dataframe
dfev = pd.read_csv('events_init.csv', encoding='utf-8')

In [11]:
dfev.head(5)

,device_id,event_id,event_time,latitude,longitude,gender,age,group_train
0,-7548291590301750000,2279193,2016-05-03 03:10:01,116.79,33.98,M,33,M32+
1,-7548291590301750000,1121009,2016-05-03 15:37:40,116.79,33.98,M,33,M32+
2,-7548291590301750000,1121005,2016-05-03 15:33:51,116.79,33.98,M,33,M32+
3,-7548291590301750000,1113814,2016-05-01 10:27:52,116.79,33.98,M,33,M32+
4,-7548291590301750000,1113205,2016-05-04 09:10:43,116.79,33.98,M,33,M32+

Feature Engineering event dataset
4.	You may also think of grouping the existing categories to create a new supercategory that will establish a significance in predicting the outcome variable

In [12]:
#create supercategory for age group
dfev['age_group'] = dfev.apply(getAgeGroup, axis=1)

In [14]:
dfev.head(5)

,device_id,event_id,event_time,latitude,longitude,gender,age,group_train,age_group
0,4676982795249940000,2958924,2016-05-01 22:03:46,113.24,22.85,M,52,M32+,32+
1,4782582047729160000,2958931,2016-05-01 22:24:09,114.47,38.03,M,36,M32+,32+
2,2181284491650730000,2958933,2016-05-01 22:24:44,125.66,43.02,M,28,M25-32,25-32
3,4221762657972680000,2958935,2016-05-01 22:40:47,115.19,24.07,F,19,F0-24,0-24
4,-6242501228649110000,2958939,2016-05-01 21:59:40,111.21,27.85,M,20,M0-24,0-24

In [15]:
#save non-event dataframe to csv
dfnev.to_csv(r'non_events_init2.csv', index = False)

In [16]:
#save event dataframe to csv
dfev.to_csv(r'events_init2.csv', index = False)