#### Reduce app data

In [1]:
import pandas as pd

In [2]:
dfapp = pd.read_csv('appdata_init.csv', encoding='utf-8')
dfapp.head(5)

   event_id               app_id  is_installed  is_active  label_id category
0    400185  7324884708820027918           1.0        0.0     251.0  Finance
1   2941538  7324884708820027918           1.0        0.0     251.0  Finance
2     34316  7324884708820027918           1.0        0.0     251.0  Finance
3    488229  7324884708820027918           1.0        0.0     251.0  Finance
4   1151851  7324884708820027918           1.0        0.0     251.0  Finance

In [3]:
dfapp.shape

(89825317, 6)

In [4]:
dfapp.head(5)

   event_id               app_id  is_installed  is_active  label_id category
0    400185  7324884708820027918           1.0        0.0     251.0  Finance
1   2941538  7324884708820027918           1.0        0.0     251.0  Finance
2     34316  7324884708820027918           1.0        0.0     251.0  Finance
3    488229  7324884708820027918           1.0        0.0     251.0  Finance
4   1151851  7324884708820027918           1.0        0.0     251.0  Finance

In [5]:
#filter only installed & active app records
dfapp = dfapp.loc[((dfapp['is_installed'] == 1) & (dfapp['is_active'] == 1))]
dfapp.shape

(33917018, 6)

In [6]:
#save reduced appdata dataframe to csv
dfapp.to_csv(r'appdata_init2.csv', index = False)

In [ ]:
#upload appdata_init2 csv to S3
!aws s3 cp appdata_init2.csv s3://capstone-mm/final_submission/appdata_init2.csv